body
  padding-top: 71px

// disable .navbar-fixed-top on mobile
@media (max-width: 767px)
  .navbar-fixed-top
    position: relative
    top: auto
  .navbar-collapse
    max-height: none
  body
    padding-top: 0

.navbar-brand
  height: 50px
  padding: 10px 0

#nav-search
  border: none
  .addtional-options
    position: absolute
    top: 42px
    padding: 10px
    min-width: 299px
    background: white
    border: 1px solid #ccc
    border-top: none
    border-bottom-left-radius: 5px
    border-bottom-right-radius: 5px
    &::before
      content: " "
      position: absolute
      background: white
      width: 40px
      height: 5px
      top: -3px
      left: -1px
      border-left: @border
  #search-input
    min-width: 260px

.send-massages
  .dropdown-menu a
    cursor: pointer

.navbar-default
  background: #fafafa