.navbar-brand
  height: 80px

#new-search
  border: none
  margin-top: 25px
  .addtional-options
    position: absolute
    padding: 10px
    width: 301px
    background: white
    border: 1px solid #ccc
    border-top: none
    border-bottom-left-radius: 5px
    border-bottom-right-radius: 5px
    &::before
      content: " "
      position: absolute
      background: white
      width: 40px
      height: 5px
      top: -3px
      left: -1px
      border-left: @border
  .lt-ie9 &
    .input-group-btn
      width: auto
    .addtional-options
      width: 260px

.navbar-default
  background: #fafafa