.doctor-info .description
  font-size: 20px

.contact-info
  padding-bottom: 16px
  margin-top: @padding-bottom
  margin-bottom: @margin-top
  button.up-vote
  button.down-vote
  button.more
  button.back
    border: 0
    background: none
    outline: none
  &.lined
    border-bottom: 1px #eee solid
  section
    box-sizing: border-box
    padding-left: 7px
    margin: 10px 0
    .title
      font-weight: normal
      margin-top: 0
      .more
        float: right
        font-size: 20px
      .dropdown-menu
        right: 0
        left: auto
        top: 40px
  .notes
    margin-top: 10px
    a
      color: #999
      text-decoration: none
      &:hover
        color: #666
  .empty-list
    line-height: 65px
    text-align: center
    color: #999
  ul, li
    margin: 0
    padding: 0
    list-style: none
  .item
    color: #434A52
    padding-left: 9px
    min-height: 65px
    margin-top: 3px
    .flag
      float: right
      line-height: @min-height
      margin: 0 8px
    .detail
      height: @min-height
      display: table-cell
      vertical-align: middle
      font-size: 20px
      word-break: break-all
    &.recommended .detail
      font-size: 26px
      color: #000
  .actions
    float: right
    line-height: 1em
    text-align: center
    .up-vote
    .down-vote
      display: inline-block
      padding: 2px 0 0
      width: 46px
      height: 41px
      line-height: @height
      font-size: 22px
    .count
      line-height: 24px
    .glyphicon
      color: white
  button.back
    font-size: 20px
    margin-top: 20px
  .add-new
    margin-top: 10px

/* Animations */
#main-info
  section
    transition: all 0.6s ease
  &.zero-sub-view
    section
      transform: scale(0.1, 0.1)
      opacity: 0
      &.focused
        transition: all 0.4s ease
        transition-delay: 0.4s

#sub-info
  display: none
  opacity: 0
  transition: all 0.6s ease
  &.show
    opacity: 1


/* Colors */

// $red = #d9534f
$red = #D94753
// $blue = #337ab7
$blue = #3BAFD9
// $green = #5cb85c
$green = #8BC051
// $yellow = #f0ad4e
$yellow = #F5BB41
$mint = #37BC9B

$color_scheme = {
  red: $red,
  blue: $blue,
  green: $green,
  yellow: $yellow,
  mint: $mint
}

$light1 = 97.6%
$light2 = 95.5%
$light3 = 90.5%
$light4 = 85.4%

for key, value in $color_scheme
  .scheme-{key}
    border-left: value 3px solid
    .title
      color: value
    .item
      background-color: lightness(value, $light1)
      .count.highlight
      .flag
        color: value
    .actions
      .count
        background-color: lightness(value, $light2)
      .up-vote
        background-color: lightness(value, $light3)
      .down-vote
        background-color: lightness(value, $light4)
      .glyphicon
        // TODO: fix display for IE8
        text-shadow: 0 0 2px value
      button .active
      button:hover .glyphicon
        color: value
        transition: color 0.3s
    button.back&
      color: value

.scheme-gray
  border-left: #999 3px solid
  color: #656565
  .item
    color: #999
    min-height: 0
    height: auto
    padding-left: 0
    .detail
      line-height: 30px
      font-size: 16px
    

.footer
    border-top 1px solid #E5E5E5
    margin-top 70px
    padding 30px 0
    text-align center
