div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
  .container
    h1 'Allo, 'Allo!!!!!!
    p.lead Kick-start your next web app with Angular Fullstack
    img(src='assets/images/yeoman.png', alt='I\'m Yeoman')

.container
  .row
    .col-lg-12
      .panel.panel-default
        pre(ng-bind-html="content['hybridized_provider_output'] | json")

footer.footer
  .container
    p
      | Angular Fullstack v2.0.13
      = ' | '
      a(href='https://twitter.com/tyhenkel') @tyhenkel
      = ' | '
      a(href='https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open') Issues
