div(ng-include='"components/navbar/navbar.html"')

mixin infoItem(category, count, isRecommended, isHighlight, isNew)
  - count = count || 0
  //- .item(class= (isRecommended ? "recommended" : "") ng-repeat="item in person.#{category}")
  .item(ng-repeat="item in person.#{category}")
    .actions
      .votes
        button.up-vote
          span.glyphicon.glyphicon-ok(aria-label="Upvote")
        button.down-vote
          span.glyphicon.glyphicon-remove(aria-label="Downvote")
      //- .count(class= (isHighlight ? "highlight" : ""))= count
      .count= count
    if isNew
      .flag
        | New!
    .detail {{item}}
  .empty-list(ng-show="!person.#{category}.length") No Data

mixin moreButtons()
  button.more(data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") +
  ul.dropdown-menu(aria-labelledby="dLabel" role="menu")
    li
      a(href="#") Add a note 
      a(href="#") Add a number

.container
  .row
    .col-lg-8.col-md-12
      .doctor-info
        h2.name
          | {{person.fullName}}
        .description
          | [description]
      .contact-info.lined.row
        .col-md-6.col-xs-12
          section.info-phone.scheme-red
            h4.title
              | Phone
              +moreButtons
            +infoItem("officePhone", "+12", true, true, true)
            .notes
              a.toggle(href="#") Show notes(1)
        .col-md-6.col-xs-12
          section.info-pager.scheme-blue
            h4.title
              | Pager
              +moreButtons
            +infoItem("pagerNum")
      .contact-info.lined.row
        .col-md-6.col-xs-12
          section.info-email.scheme-green
            h4.title
              | Email
              +moreButtons
            +infoItem('email')
        .col-md-6.col-xs-12
          section.info-fax.scheme-yellow
            h4.title
              | Fax
              +moreButtons
            +infoItem('faxNum')
      .contact-info.row
        .col-md-12
          section.info-address.scheme-gray
            h4.title
              | Address
            .item
              span.detail 447 68th Street, NY 11302
            button.btn.btn-default Show all
            pre(ng-bind-html="content['hybridized_provider_output'] | json")
    .col-lg-3.col-lg-offset-1.col-md-12
      .list-group
        a.list-group-item.active(href="#")
          .name John Smith, MD
          .ordered
            b Ordered this study
          .role doctor's role
        a.list-group-item(href="#")
          .name John Smith, MD
          .ordered
            b Ordered this study
          .role doctor's role

footer.footer
  .container
    p
      | ZERO v0.0.1
      = ' | '
      | Weill Cornell Radiology

script.
  $(document).ready(function() {
    $('.notes').on('click', '.toggle', function() {
      alert(1)
    })
  })