div(ng-include='"components/navbar/navbar.html"')

mixin infoItem(detail, count, isRecommended, isHighlight, isNew)
  .item(class= (isRecommended ? "recommended" : ""))
    .actions
      .votes
        button.up-vote
          span.glyphicon.glyphicon-ok.active(aria-label="Upvote")
        button.down-vote
          span.glyphicon.glyphicon-remove(aria-label="Downvote")
      .count(class= (isHighlight ? "highlight" : ""))= (isNaN(count) ? 0 : count)
    if isNew
      span.flag
        | New!
    span.detail= detail

.container
  .row
    .col-lg-8.col-md-12
      .doctor-info
        h2.name
          | John Smith, MD
        .description
          | [description]
      .contact-info.lined.row
        .col-md-6.col-xs-12
          section.info-phone.scheme-red
            h4.title
              | Phone
              button.more +
            +infoItem("917-914-4567", 12, true, true, true)
            +infoItem("917-914-4444", -1)
        .col-md-6.col-xs-12
          section.info-pager.scheme-blue
            h4.title
              | Pager
              button.more +
            +infoItem("646-914-1111")
      .contact-info.lined.row
        .col-md-6.col-xs-12
          section.info-email.scheme-green
            h4.title
              | Email
              button.more +
            +infoItem('js1231@nyp.org')
        .col-md-6.col-xs-12
          section.info-fax.scheme-yellow
            h4.title
              | Fax
              button.more +
            +infoItem('917-777-7777')
      .contact-info.row
        .col-md-12
          section.info-address.scheme-gray
            h4.title
              | Address
            .item
              span.detail 447 68th Street, NY 11302
            button.btn.btn-default Show all
            // pre(ng-bind-html="content['hybridized_provider_output'] | json")
    .col-lg-3.col-lg-offset-1.col-md-12
      .list-group
        a.list-group-item.active(href="#")
          .name John Smith, MD
          .ordered
            b Ordered this study
          .role doctor's role
        a.list-group-item(href="#")
          .name John Smith, MD
          .ordered
            b Ordered this study
          .role doctor's role

footer.footer
  .container
    p
      | ZERO v0.0.1
      = ' | '
      | Weill Cornell Radiology
