ul
  li(ng-repeat="item in items.collection")
    .item(ng-class="item.isRecommended ? 'recommended' : ''")
      .actions
        .votes
          button.up-vote(ng-click='voteAction({item:item, value: 1})'
              ng-class='item.voteStatus==1 ? "active" : ""')
            span.glyphicon.glyphicon-ok(aria-label="Upvote")
          button.down-vote(ng-click='voteAction({item:item, value: -1})'
              ng-class='item.voteStatus==-1 ? "active" : ""')
            span.glyphicon.glyphicon-remove(aria-label="Downvote")
        .count(ng-class='item.isHighlight ? "highlight" : ""') {{item.score}}
      .flag(ng-show="item.isNew")
        | New!
      .detail
        div(contact-detail type="type" detail="item.value")
        .voted-up(ng-show="item.lastVoted")
          span Voted Up
          time.time
            | on {{item.lastVoted | date:'MM/dd/yyyy h:mma'}}
.empty-list(ng-show="!items.collection.length") No Data

form.add-new(ng-show="isExtended" ng-submit="submitNewItem()")
  button.btn.btn-default.btn-lg(type="submit") Add
  .form-group
    input.form-control.input-lg(type="text" id="add-an-item"
      placeholder="Enter a new item" ng-model="newItem")

.notes(ng-show="isExtended")
  h5 Notes
  ul
    li(ng-repeat="note in items.notes")
      {{note}}
  form(ng-submit="submitNewNote()")
    button.btn.btn-default(type="submit") Add
    .form-group
      input.form-control(type="text" id="add-a-note"
        placeholder="Enter a new note" ng-model="newNote")
