ul
  li(ng-repeat="item in items.collection")
    .item(ng-class="item.isRecommended ? 'recommended' : ''")
      .actions
        .votes
          button.up-vote(ng-click='voteAction({item:item, value: 1})')
            span.glyphicon.glyphicon-ok(aria-label="Upvote"
              ng-class='item.voteStatus==1 ? "active" : ""')
          button.down-vote(ng-click='voteAction({item:item, value: -1})')
            span.glyphicon.glyphicon-remove(aria-label="Downvote"
              ng-class='item.voteStatus==-1 ? "active" : ""')
        .count(ng-class='item.isHighlight ? "highlight" : ""') {{item.score}}
      .flag(ng-show="item.isNew")
        | New!
      .detail {{item.value}}
.empty-list(ng-show="!items.collection.length") No Data

form.add-new.row(ng-show="isExtended" ng-submit="submitNewItem()")
  .form-group.col-md-10
    input.form-control.input-lg(type="text" id="add-an-item"
      placeholder="Enter a new item" ng-model="newItem")
  .col-md-2
    button.btn.btn-default.btn-lg(type="submit") Add

.notes(ng-show="isExtended")
  h5 Notes
  ul
    li(ng-repeat="note in items.notes")
      {{note}}
  form.row(ng-submit="submitNewNote()")
    .form-group.col-md-10
      input.form-control(type="text" id="add-a-note"
        placeholder="Enter a new note" ng-model="newNote")
    .col-md-2
      button.btn.btn-default(type="submit") Add